<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Abbott Code Challenge" parallel="methods" thread-count="1" verbose="10">
	<listeners>
		<listener class-name="utilities.ListenerForEachTest"/>
		<listener class-name="utilities.TestRetryAnalyzerListener"/>
	</listeners>
	<test name="test-1">
		<classes>
			<class name="tests.HomePageHeader" />
		</classes>
	</test>
</suite>


